::-webkit-scrollbar {
    display: none;
}

html {
    scrollbar-width: none;
}

body {
    -ms-overflow-style: none;
}

@keyframes loaderMove {
    0% {
        transform: translateX(-100%) scaleX(0.5);
    }
    50% {
        transform: translateX(100%) scaleX(1);
    }
    100% {
        transform: translateX(300%) scaleX(0.5);
    }
}

.animate-loader {
    animation: loaderMove 1s infinite ease-in-out;
}